<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/estilos/stylesobre.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="/static/imagens/logonova.png"  type="image/x-icon">


</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();
</script>

    <nav class="navbar navbar-expand-lg py-2" id="nav">
        <div class="container-fluid">

            <a class="navbar-brand px-5" href="/index.html">
                <img src="/static/imagens/logonova.png" style="width: 220px; height: 105px;" alt="logosite">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="font-size: 1.5rem; color: white;"></i>
            </button>
            
            <!-- Links do menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/apresentação.html">Sobre mim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/contato.html">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div data-aos="fade-up">
<div class="my-3">
    <h4 id="lucas">LUCAS FERNANDO GUERRA</h4>
    <h4 id="sjc">SÃO JOSÉ DOS CAMPOS</h4>
</div>


<div id="fotos">
<img src="/static/imagens/triangulofundo.png" alt="triangulo" id="triangulo">
<p id="paragrafo">"Sou Lucas Fernando Guerra, estudante de Desenvolvimento de Software. Apaixonado por tecnologia, busco oportunidades para aplicar e expandir meus conhecimentoso. Valorizo o trabalho em equipe e a constante aprendizagem, sempre em busca de soluções inovadoras para desafios"</p>
</div>
</div>
<div id="divferramentas" class="mt-5">
    <h2 id="textoferramenta">PRINCIPAIS TECNOLOGIAS QUE POSSUO CONHECIMENTO</h2>
    <div>
        <ul id="icones" class="d-flex  list-unstyled">
            <li><img src="/static/imagens/bootstraplogo.png" alt="bootstrap" height="130px"></li>
            <li><img src="/static/imagens/css3logo.png" alt=""height="100px"></li>
            <li><img src="/static/imagens/figmalogo.png" alt=""height="100px"></li>
            <li><img src="/static/imagens/flasklogo.png" alt=""height="100px"></li>
            <li><img src="/static/imagens/githublogo.png" alt=""height="130px"></li>
            <li><img src="/static/imagens/gitlogo.png" alt=""height="100px"></li>
            <li><img src="/static/imagens/html5logo.png" alt=""height="100px"></li>
            <li><img src="/static/imagens/mysqllogo.png" alt=""height="100px"></li>
            <li><img src="/static/imagens/pythonlogo.png" alt=""height="80px"></li>
            <li><img src="/static/imagens/vscodelogo.png" alt=""height="90px"></li>
        </ul>
    </div>
</div>
<div data-aos="fade-right">

<div id="formacao">
    <div class="bg-black text-center" id="formacao2"><h3>Formações Acadêmicas </h3></div>
    <ul class="text-light">
        <li><h4>FATEC SJC - Desenvolvimento de Software Multiplataforma (Conclusão prevista 06/2027)</h4></li>
        <p class="text-center mb-4">Desde que entrei na Fatec, fomos introduzidos a um projeto de API para o desenvolvimento de um software</p>
        <li><h4>Universidade Paulista - Análise e Desenvolvimento de Sistemas (Concluído em 04/2024)</h4></li>
        <p class="text-center me-5">Em meu tecnólogo na Unip , fiquei a maior parte do projeto de conclusão de curso com a função de Scrum Master, ajudando a gerenciar a equipe no projeto de desenvolvimento de uma aplicação web; mobile e desktop</p>
    </ul>
</div>
</div>
<div data-aos="fade-right">
<div id="soft">
    <div class="bg-black text-center" id="soft2"><h3>Soft-Skills </h3></div>
    <ul class="text-light justify-content-center">
        <li><h4>Produtivo</h4></li>
        <li><h4> Gestão de tempo</h4> </li>
        <li><h4>Trabalho em equipe</h4> </li>
        <li><h4>Comunicação</h4></li>
        <li><h4>Criatividade</h4></li>
        <li><h4>Proativo</h4></li>
    </ul>
</div>
</div>
<div data-aos="fade-right">
<div id="cursos">
    <div class="bg-black text-center" id="cursos2"><h3>Cursos </h3></div>
    <ul class="text-light text-center my-4" id="topicocurso">
        <li><h3>HTML/CSS/JAVASCRIPT</h3></li>
        <p>EBAC - Escola Britânica de Artes Criativas e Tecnologia</p>
        <li class="mt-3"><h3>FRONT-END/UI/UX</h3></li>
        <p>ORIGAMID</p>
    </ul>
</div>
</div>
<div data-aos="fade-right">

<div id="idiomas">
    <div class="bg-black text-center" id="idiomas2"><h3>Idiomas </h3></div>
    <ul class="text-light text-center" id="topicoidioma">
        <li class="mb-5 mt-5"><h2>ENGLISH - Intermediario</h2></li>
        <li><h2>SPANISH - Básico</h2></li>
    </ul>
</div>
</div>



    <footer class="container-fluid bg-secondary mt-5">
        <div class="container pt-4">
            <div class="list-group-horizontal  d-flex gap-5 text-center" id="footer">
                <a class=" nav-link text-decoration-none" target="_blank" href="https://www.linkedin.com/in/lucas-guerra000/"> <button type="button" class="list-group-item"><i class="bi bi-linkedin fs-1"></i></button></a>
                <button type="button" class="list-group-item"><i class="bi bi-facebook fs-1"></i></button>

            <a class="nav-link text-decoration-none" target="_blank" href="https://www.instagram.com/lucasguerra.__/"> <button type="button" class="list-group-item"><i class="bi bi-instagram fs-1"></i></button></a>
              
            <a  class="nav-link text-decoration-none" target="_blank"   href="https://github.com/lucasguerra12"> <button type="button" class="list-group-item"><i class="bi bi-github fs-1"></i></button></a>
     </div>
    </footer>
</body>
</html>
    



